<h1>
  {{title}}
</h1>

<div class="toast-wrapper">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4">
      <ghj-toast [content]="'Hello'" [type]="0"></ghj-toast>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-2 col-lg-offset-5">
    <ghj-login-form (login)="onLogin()"></ghj-login-form>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-lg-offset-2">
    <ghj-question-box [question]="question"></ghj-question-box>
  </div>
  <div class="col-lg-4">
    <ghj-answer-box [answers]="answers"></ghj-answer-box>
  </div>

</div>
<div class="row">
  <div class="col-lg-4 col-lg-offset-4">
    <ghj-quiz-navigation [isNextQuestionDisabled]="true"></ghj-quiz-navigation>
  </div>
</div>

<router-outlet></router-outlet>
